{% extends 'main.html' %}

{% block title %} <title>Update User Page</title> {% endblock %}

{% block content %}
<!--    <a href="{{ request.META.HTTP_REFERER }}">Cancel</a>-->
<!--    <form method="POST" action="" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->
<!--            {% for field in form %}-->
<!--                <div>-->
<!--                    <label>{{ field.label }}</label>-->
<!--                    {{ field }}-->
<!--                </div>-->
<!--            {% endfor %}-->
<!--            <button class="btn btn-dark" type="submit">Update Profile</button>-->
<!--    </form>-->

    <main class="auth layout">
      <div class="container">
        <div class="layout__box">
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Edit Profile</h3>
            </div>
          </div>
          <div class="layout__body">
              <form class="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

              {% for field in form %}
                  <div class="form__group">
                    <label>{{ field.label }}</label>
                      {{ field }}
                  </div>
              {% endfor %}

              <button class="btn btn--main" type="submit">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                >
                  <title>lock</title>
                  <path
                    d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"
                  ></path>
                  <path
                    d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"
                  ></path>
                </svg>

                Edit User
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>

<!--<main class="create-room layout">-->
<!--      <div class="container">-->
<!--        <div class="layout__box">-->
<!--          <div class="layout__boxHeader">-->
<!--            <div class="layout__boxTitle">-->
<!--              <a href="index.html">-->
<!--                <svg-->
<!--                  version="1.1"-->
<!--                  xmlns="http://www.w3.org/2000/svg"-->
<!--                  width="32"-->
<!--                  height="32"-->
<!--                  viewBox="0 0 32 32"-->
<!--                >-->
<!--                  <title>arrow-left</title>-->
<!--                  <path-->
<!--                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"-->
<!--                  ></path>-->
<!--                </svg>-->
<!--              </a>-->
<!--              <h3>Settings</h3>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="settings layout__body">-->
<!--            <div class="settings__avatar">-->
<!--              <div class="avatar avatar&#45;&#45;large active">-->
<!--                <img src="assets/avatar.svg" id="preview-avatar" />-->
<!--              </div>-->
<!--            </div>-->
<!--            <form class="form" action="#">-->
<!--              <div class="form__group form__avatar">-->
<!--                <label for="avatar">Upload Avatar</label>-->
<!--                <input-->
<!--                  class="form__hide"-->
<!--                  required-->
<!--                  type="file"-->
<!--                  name="avatar"-->
<!--                  id="avatar"-->
<!--                  accept="image/png, image/gif, image/jpeg"-->
<!--                />-->
<!--              </div>-->
<!--              <div class="form__group">-->
<!--                <label>Full Name</label>-->
<!--                <input-->
<!--                  id="fullname"-->
<!--                  name="fullname"-->
<!--                  type="text"-->
<!--                  placeholder="e.g. Dennis Ivy"-->
<!--                  value="Dennis Ivy"-->
<!--                />-->
<!--              </div>-->
<!--              <div class="form__group">-->
<!--                <label for="username">Username</label>-->
<!--                <input-->
<!--                  id="username"-->
<!--                  name="username"-->
<!--                  type="text"-->
<!--                  placeholder="e.g. @dennis_ivy"-->
<!--                  value="@dennis_ivy"-->
<!--                />-->
<!--              </div>-->
<!--              <div class="form__group">-->
<!--                <label for="email">Email</label>-->
<!--                <input id="email" name="email" type="email" placeholder="e.g. user@domain.com" />-->
<!--              </div>-->
<!--              <div class="form__group">-->
<!--                <label for="about">About</label>-->
<!--                <textarea name="about" id="about" placeholder="Write about yourself..."></textarea>-->
<!--              </div>-->
<!--              <div class="form__action">-->
<!--                <a class="btn btn&#45;&#45;dark" href="profile.html">Cancel</a>-->
<!--                <button class="btn btn&#45;&#45;main" type="submit">Update Settings</button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </main>-->
{% endblock %}